body{
    background-color: rgb(98, 202, 202);
    font: normal 15pt Arial ;
    

}

header{
    color: beige;
    text-align: center;

}

section{
    background-color: beige;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);

}

footer{
    color: beige;
    text-align: center;
    font-style: italic;

}

div{
    text-align: center;
    padding: 8px;
}

